/* Algemene CSS */
* {
    font-family: 'Fuzzy Bubbles', cursive;
}
body {
    background-color: lightcoral;
}
/* Typografie en specifieke opmaak */
p {
    color: white;
    font-family: Verdana, Arial, Sans-Serif, serif;
    font-style: italic;
}
h1 {
    color: darkcyan;
    font-family: Verdana, Arial, Sans-Serif, serif;
}
.tekstkleur-blauw {
    color: darkcyan;
}
#tekstkleur-rood {
    Color: red;
}
.tekstkleur-geel {
    color: yellow;
}
h1.tekstkleur-geel {
    color: yellowgreen;
}
.tekst-vet {
    font-weight: bold;
}
.footer-paragraaf {
    color: darksalmon;
}

nav ul li a {
    color: white;
    background-color: darkcyan;
    text-decoration: none;
    font-size: 24px;
}
nav ul li a:hover {
    background-color: white;
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 44px;
}