/* algemene css */

/* specifieke css */
main {
    background-color: white;
    /* padding: 100px;*/

    /* padding-left: 23px; */
    /* padding-top: 25px; */
    /* padding-right: 20px; */
    /* padding-bottom: 30px; */
    /* padding: 25px 30px 75px 50px; */

    padding: 50px 100px;
    margin: 100px;

    /* border-top-width: 10px; */
    /* border-top-color: darkgreen; */
    /* border-top-style: dotted; */

    /* border-top: 10px darkgreen dotted; */
    border: 1px darkgrey solid;
    border-radius: 50px;

    width: 800px;
    margin: 100px auto;
}

nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: darkgreen;
}
nav ul li a:hover {
    text-decoration: underline;
}
main ol {
    background-color: darkgrey;
}
main ul li {
    list-style-type: circle;
}
main ol li {
    list-style-type: upper-roman;
    background-color: dimgray;
    list-style-position: inside;
}
p {

}