#paragraaf1 {
    font-family: 'Roboto', sans-serif;
    color: darkcyan;
}
#paragraaf2 {
    font-family: 'Oswald', sans-serif;
    color: cornflowerblue;
}
#paragraaf3 {
    font-family: 'Fuzzy Bubbles', cursive;
    color: red;
}
#paragraaf4 {
    font-family: 'Inconsolata', monospace;
    color: blueviolet;
}